.field {
  position: relative;
  height: 95px;
}

.field label {
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input {
  display: block;
  width: 100%;
  padding: 12px 38px 12px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--secondary-blue);
  color: var(--primary-sky-blue);
  background-color: var(--primary-white);
  outline: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--secondary-blue);
  font-size: 16px;
  line-height: 20px;
}

.eyeButton {
  position: absolute;
  right: 10px;
  top: 58px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
}

.link,
.resendEmailButton {
  margin-bottom: 16px;
  color: var(--primary-sky-blue);
  transition: var(--transition);
}

.password {
  transition: var(--transition);
}

.password:hover {
  color: var(--secondary-orange);
}

.link:hover,
.resendEmailButton:hover {
  margin-bottom: 16px;
  color: var(--secondary-orange);
}

.error {
  color: var(--secondary-red);
  font-size: 14px;
  line-height: 18px;
}

.errorInput {
  color: var(--secondary-red);
  border-color: var(--secondary-red);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 384px;
  }
}

.resendEmailMassage {
  color: var(--additional-gray);
  font-weight: 300;
}

.resendEmailButton {
  background-color: transparent;
  border: none;
  margin-left: 8px;
}
