label {
  display: block;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scrollContainer {
  max-height: 416px;
  overflow-x: scroll;
}

.smallText {
  font-size: 16px;
  line-height: 1.25;
}
.mediumText {
  font-size: 18px;
  line-height: 1.1;
}

.topMb {
  margin-top: 24px;
}
.smallMb {
  margin-bottom: 8px;
}

.mediumMb {
  margin-bottom: 12px;
}

.largeMb {
  margin-bottom: 24px;
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
}

.title,
.mediumText {
  font-weight: 500;
}

.itemText {
  margin-bottom: 8px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--secondary-blue);
  border-radius: 50%;
}

.avatar p {
  display: block;
  font-size: 45px;
  color: var(--primary-white);
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatarWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.fileForm {
  display: flex;
  align-items: center;
}

.uploadingWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.uploadingIcon {
  padding-right: 8px;
}

.uploadingIcon path {
  stroke: #407bff;
  transition: var(--transition);
}

.uploadingWrapper:is(:hover, :focus) .uploadingIcon path {
  stroke: var(--secondary-orange);
}

.uploadingWrapper:hover .uploadingText {
  color: var(--secondary-orange);
}

.uploadingText {
  color: var(--primary-sky-blue);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  transition: var(--transition);
}

.genderBox {
  margin-bottom: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.leftBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labelContainer {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.labelContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid var(--primary-sky-blue);
  margin-top: 1px;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.labelContainer input:checked ~ .checkmark:after {
  display: block;
}

.labelContainer .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-sky-blue);
}

.input {
  width: 234px;
  border-radius: 6px;
  border: 1px solid var(--secondary-bluish-white);
  padding: 12px 10px;
  color: var(--primary-sky-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.input:is(:hover, :focus) {
  outline: none;
}
.input::placeholder {
  color: var(--secondary-blue);
}

.errorInput {
  color: var(--secondary-red);
  border-color: var(--secondary-red);
}

.labelInputErrWrapper {
  padding-bottom: 5px;
}
.inputWrapper {
  position: relative;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .labelInputErrWrapper {
    padding-bottom: 0;
  }

  .input {
    width: 372px;
  }

  .inputWrapper {
    width: 392px;
  }
  .error {
    font-size: 14px;
  }

  .scrollContainer {
    max-height: none;
    overflow-x: unset;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .rightBox {
    align-self: flex-end;
  }

  .input {
    width: 372px;
  }

  .inputWrapper {
    width: 392px;
  }
}
