.switcher {
  display: flex;
  align-items: center;
}

.btnWrapper {
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.active {
  border: 2px solid var(--primary-sky-blue);
  border-radius: 50%;
  width: 28px;
  padding: 2px;
}

.button {
  composes: active;
  cursor: pointer;
  transition: all 300ms;
  border: none;
}

.button:hover {
  width: 28px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
