.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop);
  backdrop-filter: blur(2px);
  z-index: 100;
}

.container {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 24px;
  border-radius: 10px;
  background-color: var(--primary-white);
  z-index: 101;
}

.closeBtn {
  position: absolute;
  top: 26px;
  right: 20px;
  padding: 8px 0;
  font-size: 28px;
  line-height: 0.6;
  color: var(--primary-sky-blue);
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    width: 592px;
  }
}

/*  setting container */

.closeBtn {
  /* right: 14px; */
}

.container.setting-card {
  padding: 32px 12px;
}

@media screen and (min-width: 768px) {
  .container.setting-card {
    width: 704px;
    padding: 32px 24px;
    /* height: 860px; */
    /* background-color: brown; */
  }
}

@media screen and (min-width: 1256px) {
  .container.setting-card {
    width: 1008px;
    /* background-color: rebeccapurple; */
    /* height: 592px; */
  }
}
