.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px 32px 0;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 12px;
  }
}
