.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 0;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 4px;
}
.logoLngsWrap {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 16px 32px 0;
    max-width: 768px;
  }
  .logoLngsWrap {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 12px 20px 0;
    max-width: 1256px;
  }
}
