.listItemBenefits {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-charcoal-gray);
  display: flex;
  align-items: center;
  gap: 12px;
}

.listItemBenefits img {
  width: 32px;
  height: 32px;
  margin-right: 6px;
}

.listItemOptions {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-charcoal-gray);
  gap: 16px;
}

.listItemOptions .point::before {
  content: '•';
  color: var(--primary-sky-blue);
  font-size: 36px;
  margin-right: 8px;
  vertical-align: middle;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .listItemBenefits img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  .listItemBenefits {
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 1440px) {
    .list {
      flex-direction: column;
      gap: 12px;
    }
  }
}
