:root {
  --toastify-color-success: #407BFF;
  --toastify-icon-color-success: var(--toastify-color-success);

  --toastify-color-error: #EF5050;
  --toastify-icon-color-error: var(--toastify-color-error);

  --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  --primary-white: #ffffff;
  --primary-charcoal-gray:#2F2F2F;
  --primary-sky-blue:#407BFF;

  --secondary-red:#EF5050;
  --secondary-light-blue:#ECF2FF;
  --secondary-blue:#9EBBFF;
  --secondary-bluish-white:#FF9D43;
  --secondary-orange:#D7E3FF;
}
