.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 68px);
  position: relative;
  background-image: url(../../assets/static/image/bg-element-home-screen-S-2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.contentContainer {
  position: relative;
  z-index: 1;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .container {
    background-image: url(../../assets/static/image/bg-element-home-screen-S-2x.png);
  }
}

.bottle {
  margin-top: -40px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .container {
    position: relative;
    background-image: url(../../assets/static/image/bg-element-home-screen-M.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url(../../assets/static/image/bg-element-home-screen-M-2x.png);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    position: relative;
    background-image: url(../../assets/static/image/bg-signin-L-2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url(../../assets/static/image/bg-signin-L-2x.png);
    }
  }

  .contentContainer {
    position: relative;
    position: relative;
    width: 768px;
    height: 620px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }

  .bottle {
    position: absolute;
    top: 124px;
    left: 160px;
    height: auto;
    width: 550px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    position: relative;
    background-image: url(../../assets/static/image/bg-signin-L-2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .container {
      background-image: url(../../assets/static/image/bg-signin-L-2x.png);
    }
  }

  .contentContainer {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .bottle {
    height: 600px;
    width: 65%;
    margin-left: -120px;
  }
}
