.infoContainer {
  width: 256px;

  background: transparent;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.23;
  width: 200px;
}

.titleMbTop {
  margin-top: 24px;
}

.text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid var(--secondary-blue);
  background: var(--primary-white);
  box-shadow: 0px 2px 4px 0px rgba(64, 123, 255, 0.2);
  padding: 10px;
  width: 44px;
  height: 44px;
}

.btn:focus,
.btn:hover {
  border-color: var(--primary-sky-blue);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.waterAmountSreen {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--primary-sky-blue);
}

.waterAmountValue {
  width: 100%;
  padding: 6px 10px;
  composes: waterAmountSreen;
  background-color: var(--secondary-bluish-white);
  border-radius: 40px;
}

.label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 16px;
}

.validationError {
  color: var(--secondary-red);
  font-size: 12px;
  line-height: 18px;
}

.inputTime {
  padding: 12px 10px;
  width: 100%;
  color: var(--primary-sky-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25%;
  border-radius: 6px;
  border: 1px solid var(--secondary-bluish-white);
  outline: none;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.inputTime:focus,
.inputTime:hover {
  border-color: var(--primary-sky-blue);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.input {
  composes: inputTime;
  margin-bottom: 0;
}

:global(.ant-picker-clear) {
  display: none !important ;
}

:global(.ant-picker-suffix) {
  display: none !important ;
}

.sreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 24px;
}

.glassVolume {
  color: var(--primary-sky-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  margin-left: 12px;
}

.glassContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  background: var(--secondary-bluish-white);
  margin-top: 24px;
}

.timeGlass {
  color: var(--primary-charcoal-gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  margin-left: 16px;
}

.glassIcon {
  stroke: var(--primary-sky-blue);
  width: 36px;
  height: 36px;
}

.icon {
  composes: glassIcon;
  width: 24px;
  height: 24px;
}

.scrollContainer {
  max-height: 416px;
  overflow-y: scroll;
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .infoContainer {
    width: 656px;
  }
}

@media screen and (min-width: 768px) {
  .waterAmountValue {
    width: 92px;
  }

  .title {
    width: auto;
    font-size: 26px;
  }

  .sreenContainer {
    justify-content: flex-end;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }

  .glassContainer {
    width: 254px;
  }

  .infoContainer {
    width: 656px;
  }

  .scrollContainer {
    max-height: none;
    overflow-y: unset;
  }

  .glassVolume {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .infoContainer {
    width: 544px;
  }
}
