/* border: 1px solid red; */
label {
  display: block;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----text sizes----- */
.smallText {
  font-size: 16px;
  line-height: 1.25;
}
.mediumText {
  font-size: 18px;
  line-height: 1.1;
}
/* -----margin bottom ----- */
.smallMb {
  margin-bottom: 8px;
}

.mediumMb {
  margin-bottom: 12px;
}

.largeMb {
  margin-bottom: 24px;
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
  margin-bottom: 24px;
}

.title,
.mediumText {
  font-weight: 500;
}

.itemText {
  margin-bottom: 8px;
}

/* ---------AVATAR -----*/
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: var(--secondary-blue);
  border-radius: 50%;
}

.avatar p {
  font-size: 45px;
  color: var(--primary-white);
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatarWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

/* -----------uplod a photo----- */
.fileWrapper {
  display: flex;
  align-items: center;
}

.uploadingWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*  STROKE? */
.uploadingIcon path {
  stroke: #407bff;
}

.uploadingText {
  color: var(--primary-sky-blue);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

/* -------------gender----- */
.genderBox {
  margin-bottom: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.passwordInput {
  /* margin-bottom: 12px; */
  margin-bottom: 18px;
}

.saveBtn {
  display: flex;
  width: 100%;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--primary-sky-blue);
  box-shadow: var(--box-shadow);
  outline: none;
  border: transparent;
  color: var(--primary-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.form {
}

.leftBox {
}

.avatar {
}

.labelContainer {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.labelContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid var(--primary-sky-blue);
  margin-top: 1px;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.labelContainer input:checked ~ .checkmark:after {
  display: block;
}

.labelContainer .checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-sky-blue);
}

/* -----------inputs-----------*/

.input {
  width: 236px;
  border-radius: 6px;
  border: 1px solid var(--secondary-bluish-white);
  padding: 12px 10px;
  color: var(--primary-sky-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.input:is(:hover, :focus) {
  outline: none;
}
/* -------------Validation error---- */
.errorValidation {
  color: var(--toastify-color-error);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

/* -----------tablet-----------*/

@media screen and (min-width: 768px) {
  .container.setting-card {
    width: 704px;
    /* height: 860px; */
  }

  .saveBtn {
    width: 160px;
    margin-left: auto;
  }
}

/* -----------desctop-----------*/
@media screen and (min-width: 1256px) {
  .container.setting-card {
    width: 1008px;
    /* height: 592px; */
  }
}
