.container {
  width: 236px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalNormaTitle {
  margin-top: 0;
  width: 180px;
}

.closeIcon {
  color: var(--primary-sky-blue);
}

.modalParagraphContainer {
  margin-top: 24px;
}

.forWoman {
  margin-bottom: 16px;
}

.highlight {
  color: var(--primary-sky-blue);
  font-size: 16px;
  margin-left: 6px;
}

.accent {
  display: inline-block;
  color: var(--primary-sky-blue);
  margin-right: 4px;
}

.modalP {
  font-size: 12px;
  line-height: 16px;
  color: var(--additional-gray);
  border: 1px solid var(--secondary-bluish-white);
  border-radius: 10px;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.modalNormaText {
  margin-bottom: 16px;
}

.dailyModalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.forManForWoman {
  display: flex;
  gap: 24px;
}

.aboveInputText {
  margin-bottom: 8px;
}

.inputRadio {
  position: relative;
  cursor: pointer;
  width: 14px;
  margin-right: 8px;
  transition: var(--transition);
}

.modalInput {
  color: var(--primary-sky-blue);
  display: flex;
  width: 100%;
  border-radius: 6px;
  border: thin solid var(--secondary-bluish-white);
  padding: 12px 10px;
  box-sizing: border-box;
  margin-top: 16px;
}

.waterNormContainer {
  display: flex;
  align-items: center;
}

.waterAmount {
  display: flex;
  width: 40%;
  color: var(--primary-sky-blue);
  font-weight: bold;
  margin-left: 8px;
}

.modalInput:focus {
  outline: none;
  border-color: var(--secondary-bluish-white);
}

.modalInput::placeholder {
  color: var(--primary-sky-blue);
}

.divButtonModal {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.waterLabel {
  min-height: 122px;
}

.weightLabel {
  display: block;
  min-height: 100px;
}

.error {
  color: var(--secondary-red);
  font-size: 14px;
  line-height: 18px;
}

.errorInput {
  color: var(--secondary-red);
  border-color: var(--secondary-red);
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }

  .secondContainer {
    display: flex;
    flex-direction: row;
  }

  .forWoman {
    margin-right: 24px;
  }

  .buttonContainer {
    height: 44px;
  }

  .buttonContainer button {
    position: absolute;
    right: 24px;
  }

  .modalP {
    font-size: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 592px;
  }

  .buttonContainer button {
    width: 164px;
    position: absolute;
    right: 24px;
  }
}
