.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.addWaterModal {
  margin-bottom: 16px;
}

.subtitleWelcomePage {
  margin-bottom: 12px;
}

.subtitleDailyNorma {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 16px;
}
