.glassIconEdit {
  stroke: var(--primary-sky-blue);
  width: 36px;
  height: 36px;
}

.iconEdit {
  composes: glassIconEdit;
  width: 24px;
  height: 24px;
}

.uploadingIcon:hover {
  stroke: var(--secondary-orange);
}

.uploadingIcon {
  transition: var(--transition);
  padding-right: 8px;
}
