.editButton {
  border: none;
  background-color: transparent;
  color: var(--secondary-blue);
  font-size: 16px;
  line-height: 20px;
  transition: var(--transition);
  margin-left: 12px;
}

.editButton:hover {
  color: var(--secondary-orange);
}

@media screen and (min-width: 768px) {
  .editButton {
    font-size: 18px;
  }
}
