.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 68px);
  max-width: 620px;
  margin: 0 auto;
}

.image {
  width: 100px;
  height: auto;
}

.text {
  color: var(--primary-sky-blue);
  font-weight: 700;
  margin-right: 20px;
}

.title {
  margin-bottom: 20px;
}

.description {
  box-sizing: border-box;
  text-align: center;
}

.accent {
  font-weight: 600;
}
