.container {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--primary-sky-blue);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  width: 102px;
}

.title {
  color: var(--primary-sky-blue);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
}
