.container {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--primary-sky-blue);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  width: 102px;
  padding-top: 8px;
}

.icon {
  transition: var(--transition);
}

.icon:hover,
.icon:focus {
  scale: 1.05;
}

.title {
  color: var(--primary-sky-blue);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  transition: var(--transition);
}

.title:hover,
.title:focus {
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
}
